<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <title>dkTlqkf</title>
  </head>

  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts:home' %}">dkTlqkf</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                계정
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">회원가입</a></li>
                <li><a class="dropdown-item" href="">로그인</a></li>
                <li><a class="dropdown-item" href="">로그아웃</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">
      {% block content %}
      <h1>No content</h1>
      {% endblock %}
    </div>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
